{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CRAFT-BASKET</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="CRAFT-BASKET" name="keywords">
    <meta content="CRAFT-BASKET" name="description">

    <!-- Favicon -->
    <link href="https://image.shutterstock.com/image-photo/kindergarten-childrens-craft-tree-made-600w-375498841.jpg"
        rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200;300;400&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{%static 'lib/animate/animate.min.css'%}" rel="stylesheet">
    <link href="{%static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{%static 'css/style.css' %}" rel="stylesheet">
    <link href="{%static 'css/register-user.css' %}" rel="stylesheet">
    <script src="{%static 'js/js/user-reg-valli.js' %}"></script>
</head>

<body class="page">
    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="top-bar-left">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="top-bar-right">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="{% url 'onlineplatform' %}" class="navbar-brand">CRAFT-BASKET</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href=" {% url 'onlineplatform' %}" class="nav-item nav-link ">Home</a>
                    <a href="{% url 'about_craft' %}" class="nav-item nav-link ">About</a>
                    <a href="{% url 'admin_login'%}" class="nav-item nav-link">admin</a>
                    <a href="{% url 'Tutor_login'%}" class="nav-item nav-link">Tutor</a>
                    <a href="{% url 'user_login'%}" class="nav-item nav-link">user</a>
                    <a href="{% url 'review_craft'%}" class="nav-item nav-link">Review</a>
                    <a href="{% url 'contact_craft'%}" class="nav-item nav-link">Contact</a>
                    <a href="{% url 'courses_craft'%}" class="nav-item nav-link">courses</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
   
    <!-- register start -->
    <div class="container" >
        <div class="row" >
            <div class="col-md-10">
                <div class="">
                    <form class="box" method="post" enctype="multipart/form-data" name="user_reg" style="border-radius: 10px;" onsubmit="return candi_validation();">
                        {% csrf_token %}
                        <h1 >user registration</h1>
                        <p  style="margin-bottom: 30px;border-bottom: 1px solid #fff;"> Please enter your details for registration</p> 
                        <div class="row">
                           
                                <input type="text" class="col-10 col-lg-5" name="fname" placeholder="Username"> 

                           
                           
                                <input type="tel" class="col-10 col-lg-5" name="phno" placeholder="Phone number"> 
                                <input type="email"  class="col-10 col-lg-5" name="email" placeholder="Email" > 
                                <input type="file"  class="col-10 col-lg-5" name="image" placeholder="Upload Your image" > 
                                <select name="gender" id="" class="select col-10 col-lg-5 ">
                                    <option value="Gender" selected>Gender</option>
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                    <option value="Others">Others</option>
                                </select>
                                <select name="category" id="" class="select col-10 col-lg-5">
                                    <option value="Category" selected>Category</option>
                                    <option value="Drawing">Drawing</option>
                                    <option value="Scrapbooking">Scrapbooking</option>
                                    <option value="Kidscraft">Kidscraft</option>
                                    <option value="yoga">yoga</option>
                                    <option value="sewing">sewing</option>
                                    <option value="paper-craft">paper-craft</option>
                                    <option value="Sculpture">Sculpture</option>
                                </select>
                               
                                <input type="password"  class="col-10 col-lg-5" name="password" placeholder="Password" >
                                <input type="password"  class="col-10 col-lg-5"  name="password2" placeholder="confirm password">


                        </div>
                       
                     
                      
                         <input type="submit" value="Register" >
                         <div class="text-center p-t-90">
                            <a style="color: #fff;font-size: medium;" href="{% url 'user_login' %}">
                             login
                            </a>
                        </div>
                        <div class="col-md-12">
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-contact">
                                <h2>Our Head Office</h2>
                                <p><i class="fa fa-map-marker-alt"></i>pillar no:1657,Dayandnagar,LBnagar</p>
                                <p><i class="fa fa-phone-alt"></i>9087657274</p>
                                <p><i class="fa fa-envelope"></i>craftbasket@gmail.com</p>
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-link">
                                <h2>Quick Links</h2>
                                <a href="">Terms of use</a>
                                <a href="">Privacy policy</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-newsletter">
                        
                        <div class="form">
                            <input class="form-control" placeholder="Email goes here">
                            <button class="btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="#">codebook.in</a>, All Right Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By <a href="https://htmlcodex.com">FZ infotech</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{%static 'lib/easing/easing.min.js'%}"></script>
    <script src="{%static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
    <script src="{%static 'lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{%static 'lib/counterup/counterup.min.js'%}"></script>
    
    <!-- Contact Javascript File -->
    <script src="{%static 'mail/jqBootstrapValidation.min.js'%}"></script>
    <script src="{%static 'mail/contact.js'%}"></script>

    <!-- Template Javascript -->
<script src="{%static 'js/main.js'%}"></script>
</body>
</html>

