.card{
    position: relative;
    margin-top: 50px;
    max-width: 700px;
    transition: .8s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-sizing: border-box;
}
.middle{
    display: flex;
    justify-content: center;
    
}
.card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}
.newimage{
    padding: 10px;
}